<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.erp.mapper.GoodsMapper">
    
    <!-- 根据Id查找当前用户信息 -->
    <select id="get" resultType="Goods" > 
        select * from goods where uuid = #{uuid}
    </select>
    
    <!-- 根据条件查找用户信息 -->
    <select id="findByCondition" resultType="Goods" > 
        select * from goods where 1=1
        <if test="name!=null">
        	and name like concat('%',#{name},'%')
        </if>
        <if test="tele!=null">
        	and tele like concat('%',#{tele},'%')
        </if>
    </select>
    
	<!-- 添加用户信息 -->
    <insert id="insert" parameterType="Goods"> 
        insert into goods (name,tele) values (#{name},#{tele});
    </insert>
   	
   	<!-- 删除用户 -->
	<delete id="delete" parameterType="long" >
	    delete from goods where uuid= #{uuid}   
	</delete>
	
	<!-- 更新用户信息 -->
	<update id="update" parameterType="goods" >
	    update goods set name=#{name},tele=#{tele} where uuid=#{uuid}    
	</update>   
   
</mapper>