<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.erp.mapper.OrderdetailMapper">
    
    <!-- 根据Id查找当前用户信息 -->
    <select id="get" resultType="Orderdetail" > 
        select * from orderdetail where uuid = #{uuid}
    </select>
    
    <!-- 根据条件查找用户信息 -->
    <select id="findByCondition" resultType="Orderdetail" > 
        select * from orderdetail where 1=1
    </select>
    
	<!-- 添加用户信息 -->
    <insert id="insert" parameterType="Orderdetail"> 
        insert into orderdetail(ender,endtime,goodsname,goodsuuid,money,num,price,state,storeuuid,orders_uuid) 
        values(#{ender},#{endtime},#{goodsname},#{goodsuuid},#{money},#{num},#{price},#{state},#{storeuuid},#{orders_uuid});
    </insert>
   	
   	<!-- 删除用户 -->
	<delete id="delete" parameterType="long" >
	    delete from orderdetail where uuid= #{uuid}   
	</delete>
	
	<!-- 更新用户信息 -->
	<update id="update" parameterType="orderdetail" >
	    update orderdetail set name=#{name},tele=#{tele} where uuid=#{uuid}    
	</update>   
   
</mapper>